  /* General resets for better control */
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  body {
    font-family: 'Arial', sans-serif;
    /* Use a font that fits your brand */
  }

  .App {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #212d4c;
    /* PARA CAMBIAR EL COLOR DE FONDO */
    /* A light background for the content area */
  }

  .App-header {
    background-color: #111;
    /* Dark header and footer */
    color: #fff;
    padding: 1rem;
    margin-bottom: auto;
    z-index: 10;
    /* Un z-index mayor que el de .log-card */

  }

  .App-header {
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    /* Position the header content and toggle button */
  }

  .App-header h1 {
    color: #eae9e7;
    border: none;
    text-align: center;
    font-weight: bold;
    transition: background-color 0.2s;
  }


  .App-header-name {
    display: flex;
    justify-content: center;
    align-items: center;

  }

  .App-header-buttonsdiv {

    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 2.8rem;
  }

  .App-header button {
    background-color: #eae9e7;
    border: none;
    margin-left: 1rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
    font-weight: bold;
    border-radius: 4px;
    transition: background-color 0.2s;
  }

  .App-header button:hover {
    background-color: #eae9e7bb;
  }


  .toggle-button {
    background-color: #eae9e7;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    font-weight: bold;
    border-radius: 4px;
    transition: background-color 0.2s;
  }

  .toggle-button:hover {
    background-color: #eae9e7bb;
    /* Slightly darker on hover */
  }

  .App-content {
    display: flex;
    flex-grow: 1;
  }

  .App-sidebar {
    width: 280px;
    background-color: #88c2dd;
    color: #111;
    margin-top: 0.01rem;
    padding: 1rem;
    transition: all 0.3s;
    position: fixed;
    padding-left: 1rem;
    top: 67.9px;
    bottom: 0;
    z-index: 1000;
  }

  .App-sidebar h1 {
    color: #000000;
    padding-top: 5rem;
    font-size: large;


  }

  .App-sidebar.closed {
    transform: translateX(-100%);
  }

  .App-logs {
    flex-grow: 1;
    margin-left: 280px;
    margin-top: 60px;
    padding: 20px;
    transition: margin-left 0.3s;
    background-color: #212d4c;
    overflow-x: hidden;
  }

  .App-logs .LogsTable {
    width: calc(100% - 40px);
    /* Account for padding */
    margin-bottom: 1rem;
  }

  .App-logs.closed {
    margin-left: 0;
  }



  /* Input and Select styles */
  input[type="text"],
  input[type="time"],
  input[type="date"],
  select,
  input[type="number"] {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ddd;
    /* Subtle border */
    border-radius: 4px;
  }

  /* Apply responsive design at a certain breakpoint */
  @media (max-width: 768px) {

    .App-sidebar,
    .App-logs {
      width: 100%;
      margin-left: 0;
    }

    .App-logs {
      padding: 10px;
    }
  }



  /* Styles for LogsTable */
  .LogsTable {
    width: 100%;
    border-collapse: collapse;
    margin-top: -0.5rem;
    background-color: #111;
  }

  .LogsCheckbox {
    width: 97.5%;
    background-color: #111;
    position: relative;
    align-items: center;
    justify-content: center;
    color: #fff;
  }


  .LogsTable th,
  .LogsTable td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #111;
  }

  .LogsTable th {
    background-color: #111;
    color: #fff;
  }

  /* Text overflow with ellipsis */
  .ellipsis {
    max-width: 200px;
    /* Ajusta este valor según el espacio disponible en tus celdas */
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .resize-handle {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 10px;
    user-select: none;
    cursor: ew-resize;
    background-color: #fff;
    /* Semi-transparent to indicate draggable area */
    transition: background-color 0.2s;
  }

  .resize-handle:hover {
    background-color: rgba(255, 255, 255, 0.5);
    /* More visible when hovering */
  }


  /* Estilos para tema claro */
  .LogsTable.light-theme tr:nth-child(even) {
    background-color: #e4f4fd;
  }

  .LogsTable.light-theme tr:nth-child(odd) {
    background-color: #fff;
  }

  .LogsTable.light-theme tr:hover {
    background-color: #a6bddc;
  }

  .LogsTable.light-theme td {
    color: #111;
  }

  /* Estilos para tema oscuro */
  .LogsTable.dark-theme tr:nth-child(even),
  .LogsTable.dark-theme tr:nth-child(odd) {
    background-color: #1a1a33;
  }

  .LogsTable.dark-theme tr:hover {
    background-color: #32314e;
  }

  .LogsTable.dark-theme td {
    color: #ddd;
  }

  /* Definiciones de color por nivel de log (aplican a ambos temas) */
  .LogsTable td.log-level-ERROR {
    color: red;
  }

  .LogsTable td.log-level-WARNING {
    color: rgb(255, 255, 0);
  }

  .LogsTable td.log-level-INFO {
    color: rgb(61, 194, 20);
  }

  .LogsTable td.log-level-DEBUG {
    color: rgb(0, 162, 255);
  }

  .LogsTable td.log-level-CRITICAL {
    color: rgb(238, 85, 238);
  }


  /* Styles for pagination controls */
  .pagination-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    color: #fff;
  }

  .pagination-controls select {
    width: auto;
    padding: 0.5rem 1rem;
    margin: 0 1rem;
    background-color: #eae9e7;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.2s;
  }

  .pagination-controls button {
    padding: 0.5rem 1rem;
    margin: 0 1rem;
    background-color: #eae9e7;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.2s;
  }

  .pagination-controls button:hover {
    background-color: #eae9e7bb;
  }

  .pagination-controls button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }

  .pagination-controls span {
    color: #fff;
  }

  /* Styles for toggle button */
  .toggle-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    color: #fff;
  }

  .toggle-controls h1 {
    margin: 0.5rem;
    margin-top: -0.5rem;
    color: #000000;
    border: none;
    font-weight: bold;
    transition: background-color 0.2s;
  }

  .toggle-controls h2 {
    margin: -1rem;
    color: #fff;
    border: none;
    font-weight: bold;
    transition: background-color 0.2s;
  }

  .toggle-controls button {

    padding: 0.5rem 1rem;
    margin: 0 1.5rem;
    margin-left: auto;
    background-color: #eae9e7;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.2s;
  }

  .toggle-controls button:hover {
    background-color: #eae9e7bb;
  }

  .toggle-controls button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
  }

  .toggle-controls span {
    color: #fff;
  }


  /* Styles for the boards*/

  .single-log-card {
    width: 100%;
    height: 500px;
    background-color: #ccc;
    /* Ajusta el tamaño como necesites */
  }

  .log-card {
    display: flex;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    background-color: #fff;
    margin: 20px 0;
    margin-right: 20px;
    position: relative;
    z-index: 1;
  }

  .image-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    /* Cambiado a columna */
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    /* Cambiado a borde inferior */
    position: sticky;
    top: 0;
    background-color: #fff;
    z-index: 2;
  }

  .image-container h1 {
    color: #333;
    font-size: 1.5rem;
    margin-top: 1rem;
    text-align: center;
  }



  .log-card-image {
    max-width: 90%;
    max-height: 100%;
    border-radius: 8px;
    /* margin-top: 3rem; */
  }

  .chart-container {
    flex: 3;
    padding: 10px;
    background-color: #fff;
  }


  /* Styles for the form*/
  .contact-form-container {
    max-width: 800px;
    margin: 7rem auto;
    padding: 20px;
    border: 1px solid #61dafb;
    box-shadow: 0 0 10px #61dafb;
  }

  .form-group {
    margin-bottom: 10px;
  }

  .form-group label {
    display: block;
    margin-bottom: 5px;
    color: white;
    font-weight: bold;
  }

  .form-group input[type="text"],
  .form-group input[type="email"],
  .form-group input[type="number"],
  .form-group input {
    background-color: #c9c9c9;
    width: 100%;
    padding: 8px;
    border: 1px solid #61dafb;
  }

  .form-group input[type="message"],
  .form-group input {
    width: 100%;
    padding: 50px;
    border: 1px solid #61dafb;
  }


  .send-button {
    background-color: #61dafb;
    color: 61dafb;
    font-weight: bold;
    border: none;
    padding: 10px 20px;
    align-items: center;
    text-align: center;
    display: inline-block;
    margin-top: 10px;
    cursor: pointer;
  }

  /* Styles for the loader */

  /* Loader.css */

  .loader-grid {
    display: flex;
    place-items: center;
    flex-direction: column;
    /* Ajusta la altura según sea necesario */
  }

  .loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    /* Ajusta la altura según sea necesario */
  }

  .loader {
    border: 16px solid #f3f3f3;
    /* Light grey */
    border-top: 16px solid #3498db;
    /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }